/* Fonts */
body {
    font-family: "Open Sans";
}
/* Main menu container */
div.menu-main-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Menu */
ul.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
/* Menu item */
ul.menu > li.menu-item {
    color: #CCCCCC;
    font-size: 18px;
    font-weight: 400;
}
/* Active menu item */
ul.menu > li.current-menu-item {
    color: #FFF;
    font-weight: 700;
    border-bottom: 1px solid #FFF;
}

/* Footer menu */
div.menu-footer-container  > ul.menu>li.current-menu-item {
    font-weight: 400;
    border-bottom: none;
}
div.menu-footer-container > ul.menu>li.menu-item {
    color: #FFF;
}
div.menu-footer-container > ul.menu {
    gap: 32px;
}
div.social > svg:hover > path {
    fill: #F00656;
}