body {
    margin: 0px;
}

/* Header */
header.entry-header, header.page-header, header.archive-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 32px 24px 32px 24px; /* top right bottom left */
}

/* main bar */
div.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: stretch;
}
div#header-left {
    justify-self: start;
}
div#header-center {
    justify-self: center;
}
div#header-right {
    justify-self: end;
}
/* / main bar */

/* header left button */
button.back-btn {
    width: 56px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 32px;
    border: none;
}
button.primary {
    background: #57021F;
}
button.white {
    background: #FFF5F8;
}
button.white > svg > path {
    stroke: black;
}
/* / header left button */

div#header-right > div.navigation {
    display: none;
}

div#bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

/* nav menu */
ul.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    padding-inline-start: 0px;
}
ul.menu > li {
    width: max-content;
}
ul.menu > li.menu-item > a {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
ul.menu > li.menu-item > a:hover {
    text-decoration: underline;
}
ul.menu > li.menu-item > a:focus {
    font-weight: 700;
}
ul.menu > li.current-menu-item > a {
    font-weight: 700;
    text-decoration: underline;
}
/* / nav menu */

/* header breakpoint */
@media (min-width: 768px) {
    /* Header */
    header.entry-header, header.page-header, header.archive-page-header {
        padding: 64px 72px 88px 72px; /* top right bottom left */
    }
    div.header {
        max-width: 1136px;
    }
    div#bottom-bar > .navigation {
        display: none;
    }
    div#header-right>div.navigation {
        display: block;
    }
    button.back-btn {
        width: 96px;
        height: 64px;
    }
    button.back-btn > svg {
        width: 32px;
        height: 43px;
    }
    svg.logo {
        width: 138px;
        height: 48px;
    }
}
/* / header */